ul {
  list-style: none;
  /* max-width: 50%; */
}

.fa {
  font-size: xx-large;
  color: var(--blue-theme-main-color);
}
.sm {
  font-size: smaller;
  margin-left: 1rem;
}
.no-border {
  border: none !important;
}
section {
  /* border: solid; */
  padding: 2rem 4rem;
}
.blockquote {
  border-left: 4px solid;
}
ul li {
  letter-spacing: 1px;
  font-size: smaller;
}
