ol {
  list-style: decimal;
  margin: 0 0 _size(element-margin) 0;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 _size(element-margin) 0;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

  &.alt {
    list-style: none;
    padding-left: 0;

    li {
      border-top: solid 2px _palette(border);
      padding: 0.5em 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
}

dl {
  margin: 0 0 _size(element-margin) 0;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 0 1em 0 0;

    &:last-child {
      padding-right: 0;
    }

    .icon {
      &:before {
        font-size: 1.5em;
      }
    }
  }
}

/* Labeled Icons */

ul.labeled-icons {
  list-style: none;
  padding: 0;

  li {
    line-height: 1.75em;
    margin: 1.5em 0 0 0;
    padding-left: 2.25em;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    a {
      color: inherit;
    }

    h3 {
      color: _palette(fg-light);
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1em;
    }
  }
}

/* Actions */

ul.actions {
  @include vendor("display", "flex");
  cursor: default;
  list-style: none;
  margin-left: (_size(element-margin) * -0.5);
  padding-left: 0;

  li {
    padding: 0 0 0 (_size(element-margin) * 0.5);
    vertical-align: middle;
  }

  &.special {
    @include vendor("justify-content", "center");
    width: 100%;
    margin-left: 0;

    li {
      &:first-child {
        padding-left: 0;
      }
    }
  }

  &.stacked {
    @include vendor("flex-direction", "column");
    margin-left: 0;

    li {
      padding: (_size(element-margin) * 0.65) 0 0 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &.fit {
    width: calc(100% + #{_size(element-margin) * 0.5});

    li {
      @include vendor("flex-grow", "1");
      @include vendor("flex-shrink", "1");
      width: 100%;

      > * {
        width: 100%;
      }
    }

    &.stacked {
      width: 100%;
    }
  }

  // @include media("xs") {
  &:not(.fixed) {
    @include vendor("flex-direction", "column");
    margin-left: 0;
    width: 100% !important;

    li {
      @include vendor("flex-grow", "1");
      @include vendor("flex-shrink", "1");
      padding: (_size(element-margin) * 0.5) 0 0 0;
      text-align: center;
      width: 100%;

      > * {
        width: 100%;
      }

      &:first-child {
        padding-top: 0;
      }

      input[type="submit"],
      input[type="reset"],
      input[type="button"],
      button,
      .button {
        width: 100%;

        &.icon {
          &:before {
            margin-left: -0.5em;
          }
        }
      }
    }
  }
  // }
}
