.hire-method {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.hire-method label {
  color: white;
}
.hire-method p {
  display: flex;
  align-items: center;
}
.hire-method input[type=radio] {
  opacity: 0.01;
  z-index: 100;
}
.hire-method input[type=radio] + label::before {
  display: none;
}

.elharefa-cont {
  padding: 1.5rem;
}