.contact {
  background: linear-gradient(90.21deg, #1a1630 -5.91%, #4A2FBD 111.58%);
  /* padding: 60px 0 200px 60px; */
}

.contact h2 {
	font-size: xx-large;
  margin: 30px auto;
}
.info .container{ 
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
/* .info .cont .row .col:first-of-type{
  text-align: right;
}
.info .cont .row .col:nth-of-type(2){
  text-align: left;
} */
.info .cols{
  margin: 0 36%;
  margin-bottom: 1rem;
}
.cols .col i{
  margin: 0 1rem;
}
.cols .col{
  display: flex;
    justify-content: flex-start;
    min-width: 100%;
}
.cols span{

}
@media screen and (max-width: 999px) {

  /* .social-icon{
    border: solid 1px #fff;
  } */
}
@media screen and (max-width: 280px) {
  .info .container{ font-size: medium;}
  .info .cols{
    margin: 0 20%;
    border:solid 1px;
  }
}

@media screen and (max-width:758px){


  .contact h2 {
    /* font-size: xx-large; */
    margin-left: 0;    
    text-align: left;

  }
  
  .info .cols{
    margin-bottom: 2rem;

    font-size: large;
    margin-left: 1rem;
  }
}