.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disc{

    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 40%;
    margin:1rem;
    font-style: italic;
    background: rgb(2,0,36);
    box-shadow:0px 0px 47px 8px rgba(155,154,100, 1);

    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(55,55,191,0.364670868347339) 0%);
} 