#hero {
  h2 {
    font-weight: 700;
  }
  img {
    float: left;
  }

  /* .actions li a {
    border: solid 0.5px #ccc;
    padding: 0.5em 1em;
  } */
}
@media screen and (max-width: 736px) {
  .major h2 {
    text-align: left;
  }
}
