.md-card {
  transition: all 0.3s ease;
  border-radius: 10px;
  border-top-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5) !important;

  overflow: hidden;
  margin: 1rem;
  display: flex;
  height: 300px;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  padding: 1rem;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 80%;
  /* *************************** */
}
.card-body:hover {
  transform: translateY(-90%);
}
.card-title {
  padding-top: 0.5rem;
  text-align: left;
  border-top: solid 4px white;
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9rem;
  color: #6c757d;
  background: #f8f9fa;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.metadata span {
  display: flex;
  align-items: center;
}

div.published {
  font-weight: bold;
}

div.published::before {
  content: "\1F4C5";
  margin-right: 0.5rem;
}

.metadata .reading-time::before {
  content: "\23F3";
  margin-right: 0.5rem;
}

.metadata .reactions::before {
  content: "\2764";
  margin-right: 0.5rem;
}

.metadata .comments::before {
  content: "\1F4AC";
  margin-right: 0.5rem;
}
