.card-uniform {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.card-img-top,
.card-img-placeholder {
  height: 200px;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.card-img-placeholder {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 1.2;
}

.card-title a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  flex-grow: 1;
  margin-bottom: 1rem;
  text-align: start;
}

.card-meta {
  margin-bottom: 1rem;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9rem;
  color: #6c757d;
  background: #f8f9fa;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.metadata span {
  display: flex;
  align-items: center;
}

div.published {
  font-weight: bold;
}

div.published::before {
  content: "\1F4C5";
  margin-right: 0.5rem;
}

.metadata .reading-time::before {
  content: "\23F3";
  margin-right: 0.5rem;
}

.metadata .reactions::before {
  content: "\2764";
  margin-right: 0.5rem;
}

.metadata .comments::before {
  content: "\1F4AC";
  margin-right: 0.5rem;
}

@media (max-width: 767.98px) {
  .card-uniform {
    margin: 0;
  }
  .card-img-top,
  .card-img-placeholder {
    height: 150px;
  }
  .metadata {
    /* flex-direction: column; */
    gap: 0.5rem;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }
  .metadata span {
    white-space: normal;
  }
}
