@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

@import "main-md/strata";
@import "main-md/basic";

@import "main-md/tags";
@import "main-md/imgs";

@import "main-md/list";
@import "main-md/table";
@import "main-md/input";

/* Work Item */

.work-item {
  margin: 0 0 _size(element-margin) 0;

  .image {
    margin: 0 0 (_size(element-margin) * 0.75) 0;
  }

  h3 {
    font-size: 1em;
    margin: 0 0 (_size(element-margin) * 0.25) 0;
  }

  p {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0;
  }
}
@import "main-md/mainElements";
@import "main-md/structureElements";
@import "main-md/proptrox";
@import "main-md/responsive";
.move-top {
  justify-content: flex-end !important;
  p {
    padding: 1rem 2rem;
    font-size: large;
    font-weight: bold;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // background: var(--gradient);
  }
}
#wrapper {
}
.avatar {
  width: 10em;
  transition: all 0.5s;
  :hover {
    // width: 15em;
    background: #e0e0e0;
    box-shadow: 0px 10px 20px #bebebe, 0px -10px 20px #ffffff;
  }
}
blockquote {
  text-align: left;
}
.inner-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}
.inner-title {
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.75rem 0;
  background: var(--gradient);
  color: _palette(accent2, fg);
  font-size: 200%;
  margin-left: -1rem;
  i {
    margin-right: 0.5rem;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  // @include icon(false, solid);
  // @include vendor("animation", "spin 1s linear infinite");
  animation: spin 1s linear infinite;
  font-size: 1.5em;
  min-height: 1em;
  left: 50%;
  line-height: 1em;
  margin: -0.5em 0 0 -0.5em;
}
.spinner::after {
  content: "\f110";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
